.add-menu {
  text-align: center;
  width: 100%;
}

#add-heading,
#add-paragraph {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  padding: 0.25rem 0;
  transform: translateY(100%);
  z-index: 0;
  font-size: 1.2rem;
  background-color: #eff1f3;
  opacity: 0.25;
  border: 0;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  transition: all 350ms;
}

#add-paragraph {
  left: 50%;
}

#add-heading:hover,
#add-paragraph:hover {
  background-color: hsl(208, 70%, 80%);
  opacity: 0.9;
}
